# Install these libraries in your virtual environment with the standard command:
# pip install -r requirements.txt

transformers
datasets
accelerate
langchain_text_splitters
google-cloud-storage
optuna
scikit-learn
pymupdf
python-pptx
ipywidgets
matplotlib
python-dotenv
torch
peft

# Then install PyTorch using the instructions at https://pytorch.org/get-started/loca
# After having selected your config in the configuration panel, copy & paste the pip3 command.
# E.g.: pip install torch torchvision torchaudio --index-url https://download.pytorc

# Experiment Tracking
# aim has good reviews
# - does NOT send data to 3rd party server
# - 100% open-source & free
# - comes with GUI and lots of comparison graphs

# Install with 'pip3 install aim'
